*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: ("./public/Frame433.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loader-text {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination li button {
  padding: 5px 10px;
  background-color: #f4f4f4;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination li button:hover {
  background-color: #e0e0e0;
}

.pagination li.active button {
  background-color: #333;
  color: #fff;
}

